.option-container{
    display: flex;
    flex-direction: row;
.icon{
    padding:10px 10px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background: #e4e6eb;
}
}